# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.venv.bak/
pip-log.txt
pip-selfcheck.json

# Logs
*.log
*.tmp
*.swp

# Environment
.env
.env.local
.env.*

# important
*.csv
!*.sample.csv
output/
logs/

# Dependencies
node_modules/

# Coverage / Testing
.coverage
coverage/
htmlcov/
.pytest_cache/
.mypy_cache/
.hypothesis/

# Distribution / packaging
build/
dist/
downloads/
eggs/
.eggs/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# IDE
.vscode/
.idea/
*.swo

# OS
.DS_Store
Thumbs.db